*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background-color: var(--cream);
    padding: 2.8rem 1.6rem;

    @media screen and(min-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

img,
source {
    width: 100%;
}